requests
pyserial
pytz
#rpi_ws281x < for some reason, not work for me ;(
slackclient

# manually installed
# git clone https://github.com/jgarff/rpi_ws281x.git; cd rpi_ws281x ; scons && cd python; python setup.py install
# BME280 require https://github.com/adafruit/Adafruit_Python_BME280.git
Adafruit-GPIO
