# cp /root/smart_gas/src/etc/slack_bot.service /etc/systemd/system/slack_bot.service
#systemctl daemon-reload
#systemctl enable slack_bot.service
#systemctl start slack_bot.service
[Unit]
Description=slack-bot for co2
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
#Type=oneshot
Type=simple
WorkingDirectory=/root/smart_gas/
EnvironmentFile=/root/smart_gas/openrc
Environment=VIRTUAL_ENV=/root/smart_gas/venv/
Environment=PATH=${VIRTUAL_ENV}/bin:$PATH
ExecStart=/bin/bash -c "${VIRTUAL_ENV}/bin/python /root/smart_gas/src/slack-bot.py --serve-in-foreground"
ExecStop=/usr/bin/pkill -f "python slack-bot.py"
Restart=always
